{% assign block_settings = block.settings %}

<div
  class="size-chart"
  {{ block.shopify_attributes }}
  style="padding: {{ block_settings.padding-block-start }}px {{ block_settings.padding-inline-start }}px {{ block_settings.padding-block-end }}px {{ block_settings.padding-inline-end }}px;">
  <h2 class="size-chart__title">US SIZE GUIDE</h2>
  <div class="size-chart__table-wrapper">
    <table class="size-chart__table">
      <thead>
        <tr>
          <th class="size-chart__header size-chart__sticky-column">US</th>
          <th>XXS</th>
          <th>XS</th>
          <th>S</th>
          <th>S/M</th>
          <th>M</th>
          <th>M/L</th>
          <th>L</th>
          <th>L/XL</th>
          <th>XL</th>
          <th>XL/XXL</th>
          <th>XXL</th>
        </tr>
      </thead>
      <tbody>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">SIZE</td>
          <td class="size-chart__data">0</td>
          <td class="size-chart__data">2</td>
          <td class="size-chart__data">4</td>
          <td class="size-chart__data">6</td>
          <td class="size-chart__data">8</td>
          <td class="size-chart__data">10</td>
          <td class="size-chart__data">12</td>
          <td class="size-chart__data">14</td>
          <td class="size-chart__data">16</td>
          <td class="size-chart__data">18</td>
          <td class="size-chart__data">20</td>
        </tr>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">BUST</td>
          <td class="size-chart__data">31.5 - 32&quot;</td>
          <td class="size-chart__data">32.5 - 33.5&quot;</td>
          <td class="size-chart__data">34 - 34.5&quot;</td>
          <td class="size-chart__data">35 - 35.5&quot;</td>
          <td class="size-chart__data">36 - 36.5&quot;</td>
          <td class="size-chart__data">37 - 37.5&quot;</td>
          <td class="size-chart__data">38 - 39&quot;</td>
          <td class="size-chart__data">39.5 - 40.5&quot;</td>
          <td class="size-chart__data">41 - 41.5&quot;</td>
          <td class="size-chart__data">42 - 43&quot;</td>
          <td class="size-chart__data">43.5 - 44.5&quot;</td>
        </tr>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">WAIST</td>
          <td class="size-chart__data">23.5 - 24&quot;</td>
          <td class="size-chart__data">24.5 - 25&quot;</td>
          <td class="size-chart__data">25.5 - 26&quot;</td>
          <td class="size-chart__data">26.5 - 27&quot;</td>
          <td class="size-chart__data">27.5 - 28&quot;</td>
          <td class="size-chart__data">28.5 - 29&quot;</td>
          <td class="size-chart__data">29.5 - 31&quot;</td>
          <td class="size-chart__data">31.5 - 32.5&quot;</td>
          <td class="size-chart__data">33 - 34&quot;</td>
          <td class="size-chart__data">34.5 - 35.5&quot;</td>
          <td class="size-chart__data">36 - 37&quot;</td>
        </tr>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">HIPS</td>
          <td class="size-chart__data">33.5 - 34&quot;</td>
          <td class="size-chart__data">34.5 - 35.5&quot;</td>
          <td class="size-chart__data">36 - 36.5&quot;</td>
          <td class="size-chart__data">37 - 37.5&quot;</td>
          <td class="size-chart__data">38 - 38.5&quot;</td>
          <td class="size-chart__data">39 - 40&quot;</td>
          <td class="size-chart__data">40.5 - 41.5&quot;</td>
          <td class="size-chart__data">42 - 43&quot;</td>
          <td class="size-chart__data">43.5 - 44.5&quot;</td>
          <td class="size-chart__data">45 - 46&quot;</td>
          <td class="size-chart__data">46.5 - 47.5&quot;</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="size-chart__title">INTERNATIONAL SIZE GUIDE</h2>
  <div class="size-chart__table-wrapper">
    <table class="size-chart__table">
      <thead>
        <tr>
          <th class="size-chart__header size-chart__sticky-column">INTL</th>
          <th>XXS</th>
          <th>XS</th>
          <th>S</th>
          <th>S/M</th>
          <th>M</th>
          <th>M/L</th>
          <th>L</th>
          <th>L/XL</th>
          <th>XL</th>
          <th>XL/XXL</th>
          <th>XXL</th>
        </tr>
      </thead>
      <tbody>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">US</td>
          <td class="size-chart__data">0</td>
          <td class="size-chart__data">2</td>
          <td class="size-chart__data">4</td>
          <td class="size-chart__data">6</td>
          <td class="size-chart__data">8</td>
          <td class="size-chart__data">10</td>
          <td class="size-chart__data">12</td>
          <td class="size-chart__data">14</td>
          <td class="size-chart__data">16</td>
          <td class="size-chart__data">18</td>
          <td class="size-chart__data">20</td>
        </tr>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">FRANCE</td>
          <td class="size-chart__data">32&quot;</td>
          <td class="size-chart__data">34&quot;</td>
          <td class="size-chart__data">36&quot;</td>
          <td class="size-chart__data">38&quot;</td>
          <td class="size-chart__data">40&quot;</td>
          <td class="size-chart__data">42&quot;</td>
          <td class="size-chart__data">44&quot;</td>
          <td class="size-chart__data">46&quot;</td>
          <td class="size-chart__data">48&quot;</td>
          <td class="size-chart__data">50&quot;</td>
          <td class="size-chart__data">52&quot;</td>
        </tr>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">ITALY</td>
          <td class="size-chart__data">34&quot;</td>
          <td class="size-chart__data">36&quot;</td>
          <td class="size-chart__data">38&quot;</td>
          <td class="size-chart__data">40&quot;</td>
          <td class="size-chart__data">42&quot;</td>
          <td class="size-chart__data">44&quot;</td>
          <td class="size-chart__data">46&quot;</td>
          <td class="size-chart__data">48&quot;</td>
          <td class="size-chart__data">50&quot;</td>
          <td class="size-chart__data">52&quot;</td>
          <td class="size-chart__data">54&quot;</td>
        </tr>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">UK/AU</td>
          <td class="size-chart__data">4&quot;</td>
          <td class="size-chart__data">6&quot;</td>
          <td class="size-chart__data">8&quot;</td>
          <td class="size-chart__data">10&quot;</td>
          <td class="size-chart__data">12&quot;</td>
          <td class="size-chart__data">14&quot;</td>
          <td class="size-chart__data">16&quot;</td>
          <td class="size-chart__data">18&quot;</td>
          <td class="size-chart__data">20&quot;</td>
          <td class="size-chart__data">22&quot;</td>
          <td class="size-chart__data">24&quot;</td>
        </tr>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">CHINA</td>
          <td class="size-chart__data">150/72A</td>
          <td class="size-chart__data">160/80A</td>
          <td class="size-chart__data">165-170/84A</td>
          <td class="size-chart__data">175/88A</td>
          <td class="size-chart__data">175/92A</td>
          <td class="size-chart__data">175/96A</td>
          <td class="size-chart__data">180/100A</td>
          <td class="size-chart__data">185/104A</td>
          <td class="size-chart__data">&nbsp;</td>
          <td class="size-chart__data">&nbsp;</td>
          <td class="size-chart__data">&nbsp;</td>
        </tr>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">JAPAN</td>
          <td class="size-chart__data">1, 3</td>
          <td class="size-chart__data">5</td>
          <td class="size-chart__data">7</td>
          <td class="size-chart__data">9</td>
          <td class="size-chart__data">11</td>
          <td class="size-chart__data">13</td>
          <td class="size-chart__data">15</td>
          <td class="size-chart__data">17</td>
          <td class="size-chart__data">19</td>
          <td class="size-chart__data">21</td>
          <td class="size-chart__data">23</td>
        </tr>
        <tr class="size-chart__row">
          <td class="size-chart__sticky-column">KOREA</td>
          <td class="size-chart__data">33, 34</td>
          <td class="size-chart__data">44, 55</td>
          <td class="size-chart__data">55</td>
          <td class="size-chart__data">55, 66</td>
          <td class="size-chart__data">66</td>
          <td class="size-chart__data">66, 77</td>
          <td class="size-chart__data">77</td>
          <td class="size-chart__data">77, 88</td>
          <td class="size-chart__data">88</td>
          <td class="size-chart__data">&nbsp;</td>
          <td class="size-chart__data">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="size-chart__note">Please Note: The size guide is intended for use as a general guideline. Sizing and fit may vary somewhat by different styles.</p>
</div>

{% stylesheet %}
  .size-chart__table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: var(--margin-xl);
    min-width: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
  }

  .size-chart__table-wrapper::-webkit-scrollbar {
    display: none;
  }

  .size-chart__title {
    font-size: var(--font-size-h3);
    margin-bottom: 1rem;
    color: var(--color-heading);
    font-weight: 600;
  }

  .size-chart__table {
    width: 100%;
    border-collapse: separate;
    /* prevents double-thick borders */
    border-spacing: 0;
    background-color: var(--color-background);
    font-size: var(--font-size-body);
    table-layout: fixed;
  }

  /* Reset */
  .size-chart__table th,
  .size-chart__table td {
    padding: 0.25rem;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    border: none;
    /* clear the all-sides border */
  }

  /* Draw grid using right + bottom only */
  .size-chart__table th,
  .size-chart__table td {
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  /* Left edge on first column */
  .size-chart__table th:first-child,
  .size-chart__table td:first-child {
    width: 10%;
    text-align: left;
    border-left: 1px solid var(--color-border);
  }

  /* Top edge on first row */
  .size-chart__table tr:first-child th {
    border-top: 1px solid var(--color-border);
  }

  .size-chart__header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }

  /* Sticky column */
  .size-chart__table .size-chart__sticky-column {
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 3;
    font-weight: 600;
  }
  .size-chart__table .size-chart__sticky-column::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    width: 1px;
    background: var(--color-border);
    pointer-events: none;
  }

  .size-chart__table th {
    background-color: var(--color-background-secondary);
    color: var(--color-heading);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .size-chart__data {
    text-align: center;
    overflow-wrap: anywhere;
    white-space: normal;
    max-width: 100%;
  }

  .size-chart__row:nth-child(even) {
    background-color: var(--color-background-tertiary);
  }

  .size-chart__note {
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
    margin-top: var(--margin-m);
  }

  @media screen and (min-width: 750px) {
    .size-chart__title {
      font-size: var(--font-size-h2);
    }
    .size-chart__table th:first-child,
    .size-chart__table td:first-child {
      width: 10%;
    }
    .size-chart__table th,
    .size-chart__table td {
      width: auto;
    }
  }

  @media screen and (max-width: 749px) {
    .size-chart__table {
      min-width: 800px;
    }
  }
{% endstylesheet %}


{% schema %}
  {
    "name": "Size Chart",
    "tag": "div",
    "settings": [
      {
        "type": "header",
        "content": "Size Chart Settings"
      },
      {
        "type": "range",
        "id": "padding-block-start",
        "label": "Top padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 16
      },
      {
        "type": "range",
        "id": "padding-block-end",
        "label": "Bottom padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 16
      },
      {
        "type": "range",
        "id": "padding-inline-start",
        "label": "Left padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      }, {
        "type": "range",
        "id": "padding-inline-end",
        "label": "Right padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Size Chart",
        "category": "Product"
      }
    ]
  }
{% endschema %}